.nav{
    width: 30px;
    height: 100vh;
    background: lightgrey;
    z-index: 1;
    float: left;

}

.logo i {
    color: rgb(90, 89, 89);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}

.icons{
    color: rgb(90, 89, 89);
    margin: 5px;
    padding: 10;
}
.icons li{
    list-style-type: none;
    padding: 10px 0px;
    cursor: pointer;
}